body {
  background-color: #121212;
  color: #fff;
  font-family: Arial, sans-serif;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.homepage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.homepage-content {
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 20px;
}

.searchbar {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
}

.navbar, .footer {
  background-color: #1e1e1e;
  padding: 10px;
  text-align: center;
}